@page "/"

@inject NavigationManager Nav

@using UPS_Monitor.Services
@inject ApiService ApiService
@inject AuthService AuthService

@using System.Net.Http
@using System.Text.Json
@using System.Threading.Tasks
@inject HttpClient HttpClient
@using Microsoft.Extensions.Http
@inject IHttpClientFactory HttpClientFactory
@using Newtonsoft.Json.Linq

<PageTitle>Index</PageTitle>

@if (rendered && !AuthService.IsUserLoggedIn())
{
    <MudCard Class= "login-card">
        <MudCardContent>
            <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Size="Size.Large" style="margin-bottom: 20px; font-size: 17rem;" />
            <MudTextField @bind-Value="Username" Label="Username" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ChangePasswordVisibility" AdornmentAriaLabel="Show Password" />
            <MudButton  @onclick="Login" FullWidth="true" DisableElevation="true" Variant="Variant.Filled" style= "@($"margin-top: 10px; color: white; background: {Colors.Grey.Darken3};")">Login</MudButton>
            
            @if(AuthService.DidLoginFail())
            {
                <div style="color: red;">
                    @AuthService.GetErrorMessage()      @* Display login error message *@
                </div>
            }
        </MudCardContent>
    </MudCard>

}
else
{
    ClearCredentials();
}


@code {
    private string Username { get; set; }
    private string Password { get; set; }

    // For password input in login card
    private bool isPasswordShowing;
    private InputType PasswordInput = InputType.Password;
    private string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    private bool rendered = false;  // Used to make sure nothing is rendered until AuthService is initialized


    protected override void OnInitialized()
    {
        AuthService.AuthenticationStateChanged += async () => await InvokeAsync(StateHasChanged);   // Allow for components to re-render with service alterations

        base.OnInitialized();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AuthService.Init();   // Verifies login status
            rendered = true;
            StateHasChanged();   // Allow for components to re-render
        }
    }

    private void ChangePasswordVisibility()
    {
        @if (isPasswordShowing)
        {
            isPasswordShowing = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else {
            isPasswordShowing = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async Task Login()
    {   
        await AuthService.Login(Username, Password);
        await InvokeAsync(StateHasChanged);     // Allow for components to re-render
        
        if(!AuthService.DidLoginFail())
        {
            Nav.NavigateTo("upsdisplay");   // Go to UPS display after sucessful login
        }
    }

    private void ClearCredentials(){
        Username = "";
        Password = "";
    }
}